.container {
  background-image: url("../img/backgrounds/landing.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  text-align: center;
height: 400px;
color: white;
font-size: 30px;
}}
s
