.container {
  background-image: url("../img/backgrounds/landing.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  text-align: center;
  margin: 0;
  padding: 0;
height: 450px;
color: white;
font-size: 30px;
}}

.lefties {
  float: left;

}
.imagesx{
  float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    font-size: 30px;
    text-decoration: none;
}

li a {
    display: block;
    color: #000;
    padding: 0;
    text-decoration: none;
}


li a:hover {
    background-color: #FF6633;
    color: white;
    text-decoration: none;
}
